<div class="jumbotron text-center text-light">
  <h1 class="display-1">{{{title}}}</h1>
  <p class="lead">Welcome Admin</p>
  <a href="/videopage" class="btn btn-dark btn-lg">Video Call</a>
  <a href="/login/credentials" class="btn btn-dark btn-lg">Send Credentials</a>
</div>
