<div class="jumbotron text-center">
  <h1 class="display-3">{{{title}}}</h1>
  <p class="lead">Welcome to WSR</p>
  <a href="/witness" class="btn btn-dark btn-lg">Enter as witness</a>
  <a href="/login/admin" class="btn btn-dark btn-lg">Enter as Admin</a>
</div>
