<!--video area for admin and witness-->
{{msg}}
<div id="videoPage" class="mastHead container">
  <div class="video-page-holder video-page-holder-horizontal row">
    <div class="left col">
      <div class="video-wrap">
        <div class="main-video">
          <video id="mainVideoTag" class="" autoplay playsinline></video>
        </div>
        <div class="small-video">
          <video id="smallVideoTag" autoplay muted="mute"></video>
        </div>
      </div>

      <div class="actions-holder">
        <button id="startButton" class="btn btn-warning p-2 m-2" type="button">start</button>
        <button id="callButton" class="btn btn-warning p-2 m-2" type="button">call</button>
        <button id="hangupButton" class="btn btn-warning p-2 m-2" type="button">hangup</button>
        <!-- <a id="start" class="input-styled" href="">start</a>
          <a id="call" class="input-styled" href="">call</a>
          <a id="hangup" class="input-styled" href="">hang up</a> -->


      </div>
    </div>
  </div>
</div>
