<div class="card card-body">
  <h3>Send credentials to witness email</h3>
  <form action="/login/credentials" method="post">
    {{msg}}
    <div class="form-group">
      <label for="email">email</label>
      <input type="email" class="form-control" name="email">
    </div>
     <div class="form-group">
      <label for="password"></label>
      <input type="text" id="passwordHolder" class="form-control" name="passwordHolder" value="Password for witness">
    </div>

    <!-- <p id="passwordHolder" class="text-dark"></p> -->
    <button type="submit" class="btn btn-primary">Send</button>
    <button type="button" onclick="newPass()" class="btn btn-warning ml-2">Generate Password</button>
    <a href="/adminpanel" class="btn btn-dark ml-2">back</a>
  </form>
</div>
